.message {
    padding: 2% 5% 2% 5%;
    width: max-content;
    display: flex;
    flex-direction: column;
    &-username {
        color: #cecdcd;
        margin: 0 0 2.5% 6%;
    }

    &-me {
        @extend .message-not-me;
        align-items: flex-end;
        background-color: rgba(108, 108, 108, 0.85);
    }

    &-not-me {
        color: white;
        background-color: rgba(40, 40, 40, 0.85);
        padding: 10px 10px 10px 10px;
        border-radius: 15px;
        font-size: 18px;
        align-items: flex-start;
    }
}